<!doctype html>
<html lang="ja">

<head>
    <title>Index</title>
    <meta charset="utf-8" />
</head>

<body>
    <p>third page</p>
    <section id="yt-wrap">
        <div id="yt-block">
          <div class="videoWrapper">
            <p>{{titles[0]}}</p>
            <iframe id="player" width="560" height="315" src="{{urls[0]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{titles[1]}}</p>
            <iframe id="player" width="560" height="315" src="{{urls[1]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{titles[2]}}</p>
            <iframe id="player" width="560" height="315" src="{{urls[2]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{titles[3]}}</p>
            <iframe id="player" width="560" height="315" src="{{urls[3]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{titles[4]}}</p>
            <iframe id="player" width="560" height="315" src="{{urls[4]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <span id="play"></span>
        </div>
    </section>
    <!-- <p>{{titles[0]}}</p>
    <p>{{titles[1]}}</p>
    <p>{{titles[2]}}</p>
    <p>{{titles[3]}}</p>
    <p>{{titles[4]}}</p> -->
</body>
</html>